
// font

@font-face {
  font-family: 'Cirka';
  src: url(../../assets/font/Cirka\ Regular\ 400.ttf);
}

// default font
$font-main: 'Manrope', sans-serif;

// dark colors
$dark-bg: #14141A;
$dark-gray: #1E1E24;
$dark-placeholder: #5B5B5B;

// rose colors
$rose-bg-main: #EDEAEA;
$rose-bg: #E7DDDD;


// white colors

$white-card: #f3f2f2;
$white-main: #ffffff;
$white-section: #f9f7f7;

// yellow colors

$yellow-main: #FFD392;

