
// font

@font-face {
  font-family: 'Mosk Normal 400';
  src: url(../../assets/font/Mosk\ Normal\ 400.ttf);
}

@font-face {
  font-family: 'Mosk Medium 500';
  src: url(../../assets/font/Mosk\ Medium\ 500.ttf);
}

@font-face {
  font-family: 'Mosk Semi-Bold 600';
  src: url(../../assets/font/Mosk\ Semi-Bold\ 600.ttf);
}

@font-face {
  font-family: 'Mosk Bold 700';
  src: url(../../assets/font/Mosk\ Bold\ 700.ttf);
}

@font-face {
  font-family: 'Mosk Extra-Bold 800';
  src: url(../../assets/font/Mosk\ Extra-Bold\ 800.ttf);
}

@font-face {
  font-family: 'Mosk Ultra-Bold 900';
  src: url(../../assets/font/Mosk\ Ultra-Bold\ 900.ttf);
}


// default font
$font-main: 'Raleway', sans-serif;


// rose colors
$rose-bg: #E2B1A6;

$rose-title: #F9D4CC;


// blue colors
$blue-title: #3E3F55;

$blue-paragraph: #444560;

$blue-text-nav: #4F4B6B;

$blue-bg-home: #2D2D41;

$blue-bg-sec2: #222130;

$blue-bg-sec3: #1b1b29;

$blue-bg-sec4: #171620;

$blue-bg-projects: #1a1a27;

$blue-bg-icons: #1D1C29;

$blue-button: #343349;

$blue-bg-stroke: #2D2B40; // width 6px

$blue-card-message: #1E1B27;

// white colors

$white1: #ffffff;

$white2: #D4D4D4;

$white3: #63606e;

$white4: #e9d3d3;

// other colors
$pink-stroke: #ac1477;

$dark-stroke: #0e0d13;

$dark-stroke-message: #2A292E;

$green-stroke: #42A867;



