
// name and icon

.name, .icon {
  stroke: $blue-title;
  stroke-width: 2.5px;
  stroke-miterlimit: 0;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: svganimation 5s ease-in-out forwards;
}

.icon {
  animation: svganimation 7s ease-in-out forwards;
}

.brand {
  animation: fill .3s ease forwards 2.2s;
}

.crown {
  animation: stroke-fill .3s ease-in-out forwards 2.1s;
  transform-origin: center center;
}

@keyframes svganimation {
  0% {
    stroke-dashoffset: 800;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: $blue-title;
  }
}

@keyframes stroke-fill {
  from {
    stroke: 1.5px;
  }
  to {
    stroke: $blue-title;
    stroke-width: 7px;
  }
}



// icon

.icon2 {
  stroke: $blue-title;
  stroke-width: 1.3px;
  stroke-miterlimit: 0;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: svganimation 5s ease-in-out forwards;
}

.crown2 {
  animation: stroke-fill2 3s ease-in-out forwards .5s;
  transform-origin: center center;
}

@keyframes stroke-fill2 {
  from {
    stroke: 1.5px;
  }
  to {
    stroke: $blue-title;
    stroke-width: 9px;
  }
}