footer {
  background-color: $dark-bg;
  padding-top: 8rem;
  @include responsive-tablet() {
    padding-top: 8rem;
  }
  .container {
    @include container();
    @include flexbox-between();
    flex-wrap: wrap;
    padding: 0 4rem;
    @include responsive-desktop-hd() {
      padding: 0;
    }
  }
}

.container-mail {
  padding-bottom: 6rem;
  a span {
    color: $white-main;
    transition: all .3s ease-in-out;
    &:hover {
      color: $yellow-main;
    }
  }
  div {
    @include align-center();
    gap: 4px;
    border-bottom: 1px solid $white-main;
    padding-bottom: 0.8rem;
    width: 40%;
    opacity: 0.8;
    margin-top: 1rem;
  }
  p {
    font-size: 1.5rem;
    color: $white-main;
    max-width: 400px;
    margin-top: 2.5rem;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 3rem;
  }
  span {
    font-size: 1.25rem;
    color: $white-main;
    font-weight: 300;
  }
}

.container-brand {
  p {
    font-size: 1.5rem;
    color: $white-main;
    max-width: 300px;
    margin-top: 2.5rem;
    font-weight: 300;
    line-height: 25px;
  }
}

.flex-socials {
  @include align-center();
  gap: 7px;
  margin-top: 1.5rem;
  img {
    width: 18px;
  }
}

.main-thanks {
  flex-grow: 1;
}

.body-thanks {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-thanks {
  @include container();
  @include flexbox-center();
  flex-direction: column;
  margin: 20rem auto 20rem auto;
  background-color: $dark-bg;
  border-radius: 3px;
  width: 700px;
  height: 300px;
  padding: 3rem;
  max-width: 700px;
  h1 {
    color: $yellow-main;
    font-family: 'Cirka', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  h2 {
    color: $white-main;
    font-weight: 400;
    font-size: 1.8rem;
    max-width: 500px;
    margin: 0 auto;
    line-height: 28px;
  }
  .button-thanks {
    @include align-center();
    position: relative;
    z-index: 1;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.052);
    color: $dark-bg;
    font-size: 1.8rem;
    font-family: 'Cirka', sans-serif !important;
    font-weight: 600;
    text-align: center;
    background-color: $yellow-main;
    border-radius: 40px;
    width: 150px;
    height: 43px;
    margin-top: 3rem;
    &:hover {
      filter: brightness(1.07);
    }
    @include responsive-small-mobile-and-mobile() {
      width: 100%;
      margin-bottom: 1.2rem;
    }
  }
}

.footer-thanks {
  padding-top: 2rem !important;
}