
main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: $blue-bg-sec2;
  .container {
    @include container;
    text-align: center;
    padding: 20px 30px 0 30px;
    h2 {
      font: 400 1.3rem 'Raleway';
      color: $white1;
      margin-bottom: 2rem;
    }
    span {
      color: $white3;
      font-weight: 600;
    }

    @include responsive-tablet {
      @include flexbox-between;
      padding: 22px 50px 0 50px;
      h2 {
        font: 400 1.3rem 'Raleway';
        color: $white1;
      }
      span {
        color: $rose-bg;
        font-weight: 600;
      }
    }
    @include responsive-desktop {
      @include flexbox-between;
      padding: 2rem;
      padding-bottom: 0;
    }
    h2 {
      font: 400 1.5rem 'Raleway';
      color: $white1;
    }
    span {
      color: $rose-bg;
      font-weight: 600;
    }
  }
}

.container2-footer {
  @include align-center;
  img {
    width: 23px;
    transform: translateY(-12px);
    margin-left: .8rem;
  }
}