
#s-home {
  position: relative;
  background-color: $rose-bg;
  min-height: 100vh;
  @include responsive-desktop {
    padding: 7rem;
    &::after {
      content: "";
      position: absolute;
      max-width: 400px;
      width: 68%;
      height: 100%;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: $blue-bg-home;
    }
  }
  @include responsive-desktop-hd {
    &::after {
      max-width: 650px;
    }
  }
  .container {
    @include container;
    @include align-center;
    min-height: 95vh;
    padding: 2rem;
    position: relative;
    @include responsive-small-mobile {
      min-height: 130vh;
    }
    @include responsive-tablet {
      padding: 5rem;
    }
    @include responsive-desktop {
      @include container;
      padding: 0;
    }
    div {
      h1 {
        position: relative;
        z-index: 1;
        letter-spacing: .4px;
        line-height: 55px;
        color: $blue-title;
        font-size: 3.5rem;
        margin-top: 8rem;
        font-family: 'Mosk Ultra-Bold 900';
        @include responsive-small-mobile {
          font-size: 2.8rem;
          line-height: 45px;
        }
        @include responsive-tablet {
          font-size: 5rem;
          margin-top: 0;
          line-height: 80px;
        }
        @include responsive-desktop {
          line-height: 90px;
          font-size: 5.3rem;
          margin-top: 15rem;
        }
        @include responsive-desktop-hd {
          margin-top: 7rem;
          font-size: 5.8rem;
          line-height: 95px;
        }
      }
      span {
        font-family: 'Mosk Ultra-Bold 900';
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $blue-title;
        letter-spacing: .4px;
        &:hover {
          -webkit-text-fill-color: $blue-title;
          -webkit-text-stroke-width: .1px;
        }
      }
      button {
        transition: ease-out 0.7s;
        border: 2px solid $blue-title;
        color: $white1;
        font-weight: 500;
        padding: 1.5rem;
        text-align: center;
        background-color: $blue-title;
        border-radius: 6px;
        width: 150px;
        &:hover {
          a {
            color: $blue-title;
            transition: color .5s;
          }
          box-shadow: inset 0 -100px 0 0 $rose-bg;
        } 
        a {
          font-family: 'Raleway', sans-serif;
          color: $white1;
        }
        @include responsive-small-mobile {
          font-size: 1.4rem;
          padding: 1.3rem;
          width: 130px;
        }
        @include responsive-tablet {
          font-size: 2.2rem;
          padding: 2rem;
          width: 170px;
        }
        @include responsive-desktop {
          font-size: 2rem;
          padding: 1.6rem;
        }
      }
    }
  }
}

.typing {
  color: $blue-title;
  font-size: 1.57rem;
  font-family: 'Raleway', sans-serif;
  margin: 3rem 0 3rem 0;
  font-weight: 500;
  line-height: 27px;
  &::after {
    content: "|";
    animation: blinkCursor 1.2s infinite ease-in-out;
    color: $blue-bg-sec3;
    margin-left: 8px;
  }
  @include responsive-small-mobile {
    font-size: 1.35rem;
  }
  @include responsive-tablet {
    font-size: 2.4rem;
    line-height: 40px;
  }
  @include responsive-desktop {
    font-size: 2.2rem;
    margin-bottom: 4rem;
    margin-right: 0;
  }
}

@keyframes blinkCursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-home {
  display: none;
  @include responsive-desktop {
    display: block;
    z-index: 1;
    position: relative;
    width: 550px;
    left: 30px;
  }
  @include responsive-desktop-hd {
    width: 700px;
    left: 60px;
  }
}

.shape2 {
  display: none;
  @include responsive-tablet {
    display: block;
    width: 130px;
    position: absolute;
    top: 770px;
    left: 710px;
    z-index: 1;
  }
  @include responsive-desktop {
    position: absolute;
    top: 680px;
    left: 1090px;
  }
  @include responsive-desktop-hd {
    top: 760px;
    left: 1535px;
  }
}
