.mobile-navbar {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  background-color: $dark-bg;
  padding: 3rem;
  .langs {
    display: none;
  }  
  div:nth-child(1) {
    @include flexbox-between();
    flex-direction: row-reverse;
  }
  @include responsive-desktop() {
    display: none;
  }
}

#nav-mobile {
  display: block;
  cursor: pointer;
  div {
    transition-duration: 0.5s;
    margin: 6px 0;
    width: 28px;
    height: 2px;
    background-color: $white-main;
    transition: .4s;
  }
  &:hover div {
    background-color: $yellow-main;
  }
}

.active #nav-mobile {
  div:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }
  div:nth-child(2) {
    opacity: 0;
  }
  div:nth-child(3) {
    transform: rotate(-46deg) translate(3px, -4px);
  }
}

#nav-mobile-options {
  display: none;
}

.active #nav-mobile-options {
  display: block;
  background-color: $dark-bg;
  width: 100%;
  height: 35vh;
  li {
    font-family: $font-main;
    font-size: 2.2rem;
    padding-bottom: 25px;
    &:first-child {
      padding-top: 4rem;
      @include responsive-small-mobile() {
        padding-top: 3rem;
      }
    }
  }
  .langs {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 1.6rem;
    button {
      width: auto;
    }
    img {
      width: 28px;
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.navbar {
  display: none;
}


.links a {
  font-family: $font-main;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  color: $white-main;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: $yellow-main;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover {
    color: $yellow-main;
  }
  &:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.navbar {
  @include container();
  @include responsive-desktop() {
    @include flexbox-between();
    padding: 4.5rem 0 0 0;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    background-color: $dark-bg;
    ul {
      @include flexbox-center();
      gap: 30px;  
    }
    .navbar-flex {
      @include flexbox-between();
    }
    .langs {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 4rem;
      border-left: 1px solid rgb(156 156 156 / 15%);
      padding-left: 3rem;
      margin-left: 3rem;
      img {
        width: 25px;
        transition: all .3s ease-in-out;
        &:hover {
          transform: scaleX(-10%);
        }
      }
    }
  }
  @include responsive-desktop-hd() {
    padding: 4.5rem 0 0 0;
    .langs {
      display: flex;
      align-items: center;
      gap: 13px;
      height: 4rem;
      border-left: 1px solid rgb(156 156 156 / 15%);
      padding-left: 3rem;
      margin-left: 3rem;
      img {
        width: 25px;
        transition: all .3s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.brand {
  width: 52px;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  border: 2px solid #c39f6b;
  color: #fff;
  cursor: pointer;
  width: 40px;
  padding: 6px;
  border-radius: 50%;
  font-size: 18px;
  animation: backToTop 1.2s ease-in-out infinite;
  img {
    width: 25px;
  }
}

@keyframes backToTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}