
// mobile and tablet

.mobile-navbar {
  @include container;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  background-color: $rose-bg;
  svg {
    width: 40px;
    height: 40px;
  }
  div:nth-child(1) {
    @include flexbox-between;
  }
  @include responsive-desktop {
    display: none;
  }
}

.content-mobile-navbar {
  padding: 2rem 3rem 1.6rem 3rem;
  @include responsive-tablet {
    padding: 3rem 5rem 4.5rem 5rem;
  }
}

.shape1 {
  display: none;
  @include responsive-tablet {
    display: block;
    position: absolute;
    width: 80px;
    left: 220px;
  }
  @include responsive-desktop {
    width: 85px;
    left: 350px;
    bottom: 40px;
    z-index: -2;
  }
}

#nav-mobile {
  display: block;
  div {
    transition-duration: 0.5s;
    margin: 6px 0;
    width: 28px;
    height: 2px;
    background-color: $blue-title;
    transition: .4s;
  }
  @include responsive-desktop {
    display: none;
  }
}

.active #nav-mobile {
  div:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }
  div:nth-child(2) {
    opacity: 0;
  }
  div:nth-child(3) {
    transform: rotate(-46deg) translate(3px, -4px);
  }
}

#nav-mobile-options {
  display: none;
}

.active #nav-mobile-options {
  display: block;
  background-color: $rose-bg;
  width: 100%;
  height: 100vh;
  a {
    color: $blue-title;
    font-weight: 500;
    &:hover {
      transition: color .5s;
      color: #616383;
    }
  }
  li {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 50px;
    &:first-child {
      padding-top: 6rem;
      @include responsive-small-mobile {
        padding-top: 3rem;
      }
    }
    @include responsive-small-mobile {
      padding-bottom: 30px;
    }
    @include responsive-tablet {
      font-size: 3rem;
    }
  }
}

.navbar {
  display: none;
}


// desktop

.navbar {
  @include responsive-desktop {
    display: block;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 0 7rem;
    @include container;
    @include flexbox-between;
    ul {
      @include flexbox-center;
      gap: 40px;  
      a {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 1.9rem;
        color: #585377;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -4px;
          left: 0;
          background-color: #616383;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover::before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
        &:hover {
          color: #616383;
        }
      }
    }
  }
  @include responsive-desktop-hd {
    padding: 0;
  }
}

.brand {
  width: 150px;
}

