
#s-skills {
  background-color: $blue-bg-sec4;
  position: relative;
  border: 17px solid $rose-bg;
  height: 1000px;
  @include responsive-small-mobile {
    border: 12px solid $rose-bg;
    height: 740px;
  }
  @include responsive-tablet {
    border: 20px solid $rose-bg;
    height: 630px;
  }
  @include responsive-desktop {
    height: 700px;
  }
  @include responsive-desktop-hd {
    height: 770px;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 8rem;
    z-index: 1;
    h1 {
      font-size: 3rem;
      text-align: center;
      font-family: 'Raleway';
      font-weight: 600;
      color: $rose-title;
      margin-bottom: 8rem;
      @include responsive-small-mobile {
        margin-bottom: 6rem;
        font-size: 2.7rem;
      }
      @include responsive-desktop {
        font-size: 4rem;
        margin-bottom: 10rem;
      }
    }
    @include responsive-small-mobile {
      padding-top: 6rem;
    }
    @include responsive-desktop-hd {
      max-width: 700px;
    }
  }
}

.content-skills {
  @include align-center;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  div {
    position: relative;
    img {
      width: 65px;
      height: 65px;
      @include responsive-small-mobile {
        width: 50px;
        height: 50px;
      }
      @include responsive-desktop-hd {
        width: 70px;
        height: 70px;
      }
    }
    padding: 3rem;
    background-color: $blue-bg-icons;
    border-radius: 6px;
    border: 2px solid $blue-bg-stroke;
    &:hover {
      border: 2px solid $rose-bg;
    }
    @include responsive-small-mobile {
      padding: 2rem;
    }
  }
}
